/*Put CSS Here*/

body {
  background-color: yellow;
}

div {
border-style: solid;
 border-width:thin;
 border-color:red;
 background-color: white;
}

ul {
display:table; margin:0 auto;
font-style: oblique;
  font-size:20px;
}

ol {
   display:table; margin:0 auto;
   font-style:oblique;
   font-size:20px;
}
h1 {
  font-size: 500%;
  color: black;
  text-align:center;
  color: red;
}

h2 {
  text-align:center;
  font-style:italic;
  color: red;
  text-transform:uppercase;
  font-weight:bolder;
  font-size:200%;
}

h3 {
  text-align: center;
  font-weight:bolder;
  font-style:italic;
  font-size: 30px;
}

p {
font-size: 20px;
font-family: Georgia;
text-align: center;
}

i {
  font-weight:bolder;
  font-size:100%;
}

img {
  background-position: center;
  padding-left:155px;
  padding-right:115px;
  height: 400px;
  width: 450px;
}
